<div class="card">
    <div class="card-header">
      <h1>Formulaire pour enregister un chat</h1>
    </div>
    <div class="card-body">
        <!-- <form [formGroup]="cadeauForm" (ngSubmit)="ajouterCadeau()"> -->
        <form>
            <h3>Cadeau :</h3>
            <label for="nom">Nom :
                <input type="text" formControlName="nom">
            </label>
            <label for="img">Image, url de l'image à ajouter :
                <input type="text" formControlName="img">
            </label>
            <label for="siteMarchand">Url du site Marchand :
                <input type="text" formControlName="siteMarchand">
            </label>
            <p></p>
             <button class="btn btn-success">Valider</button>
        </form>
    </div>
  </div>


