<div class="card">
    <div class="card-header">
      <h1>Formulaire pour enregister un chat</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="cadeauForm" (ngSubmit)="ajouterCadeau()">
            <h3>Chat :</h3>
            <label for="nom">Nom :
                <input type="text" formControlName="nom">
            </label>
            <label for="age">Age :
                <input type="number" formControlName="age">
            </label>
            <label for="race">Race :
                <input type="text" formControlName="race">
            </label>
            <label for="img">Image, url de l'image à ajouter :
                <input type="text" formControlName="img">
            </label>
            <p></p>
             <button class="btn btn-success">Valider</button>
        </form>
    </div>
  </div>


