<div class="container">
    <div class="element">
      <img src="https://cdn.pixabay.com/photo/2016/11/29/13/37/christmas-1869902_960_720.jpg" 
                                  alt="Image de Cadeaux">
    </div>
    <div class="element">
      <p>Il est de tradition d'offrir un cadeau de Noël pour la fête de Noël, généralement aux enfants et à la famille proche. 
        Ces présents s'offrent selon la tradition, le 24 décembre au soir et se suit de l'ouverture des cadeaux à minuit.
        Cette tradition d'offrir des cadeaux pour Noël ou pour le Nouvel An remonte au xviie siècle dans le monde chrétien, 
        les cadeaux étant essentiellement réservés aux enfants de notables et de souverains à cette époque. Il était cependant plus fréquent 
        d'offrir des étrennes aux enfants des familles bourgeoises et aristocratiques, le transfert de cette pratique du début du mois 
        de janvier au 25 décembre s'affirmant au xixe siècle avec la transformation de la fête de Noël en célébration familiale1. 
        Cette coutume des cadeaux est largement reprise en dehors de tout contexte religieux.
      </p>
    </div>
  </div>